$global-color: (
  a:#003366,
  b:#333,
  c:#999,
  d:#666,
  e:#f5f5f5,
  f:#39C,
  g:#e1e1e1,
  h:rgba(0, 51, 102, .8),
);

$global-break: (
  sm:768px,
  md:992px,
  lg:1200px
);

$footer-height: 90px;

html {
  width: 100%;
  height: 100%;
  color: map-get($global-color, b);
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
}

body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100%;
  margin-bottom: -($footer-height)-1;
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

img {
  width: 100%;
}

h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.no-padding {
  padding: 0;
}

.no-padding-l {
  padding-left: 0;
}

.no-padding-r {
  padding-right: 0;
}

.no-margin-lr {
  margin-left: 0;
  margin-right: 0;
}