/*footer*/
.footer-con {
  position: relative;
  height: $footer-height;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: map_get($global-color, b);
  color: map_get($global-color, c);
  .text-con {
    font-size: 12px;
    text-align: center;
  }

}

@media (min-width: 768px) {
}