@mixin img-text-con($width) {
  .text-con {
    position: absolute;
    left: $width+5px+10px;
    top: 0;
    right: 0;
    height: 100%;
    @extend %title-excerpt;
  }
}

@mixin img-con($width:0,$padding:0)
{
.img-con {
  position: absolute;
  left: 5px;
  top: 5px;
  bottom: 5px;
  width: $width;
  max-height: $padding;
  overflow: hidden;
  img {
    width: 100%;
  }
}

}

@mixin item-cell($padding) {
  position: relative;
  height: 0;
  padding: $padding 0 0 0 ;
  overflow: hidden;
  @extend  %hover;
}
