/*nav*/
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 99;
  background: none;
  .navbar-brand {
    width: 9em;
    padding-top:12px;
    &:hover {
      background: none !important;
    }
  }

  button {
    i {
      color: #fff;
    }
  }
  a {
    font-size: 14px;
    color: #fff;
    text-align: center;
    i {
      font-size: 12px;
      text-transform: uppercase;
      display: block;
    }
  }
  .nav > li > a:focus,
  .nav > li > a:hover {
    color: map-get($global-color, a);
    background-color: #fff;
  }
}

.navbar-header {
  margin-left: 0 !important;
  margin-right: 0 !important;
  background-color: map-get($global-color, a);
}

.top-menu {
  background-color: map-get($global-color, a);
  box-shadow: none;
  -webkit-box-shadow: none;
  border-top: 0;
}

.navbar-nav {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: map-get($global-break, sm)) {
  .navbar-header {
    background-color: transparent;
  }
  .top-menu {
    background-color: transparent;
  }
}