/*title*/
.title-con {
  margin: 20px 0 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid map-get($global-color, g);
  line-height: 1;
  .border-bottom {
    padding-bottom: 5px;
    border-bottom: 1px solid map-get($global-color, f);
  }
  .a-btn {
    text-align: right;
    a {
      border-radius: 3px;
      font-size: 12px;
      &:hover {
        text-decoration: none;
        color: map-get($global-color, a);
      }
    }
  }
}


%text-con {
  .text-con {
    .title-text {
      font-weight: 400;
      color: map-get($global-color, b);
    }
  }
}

%title-excerpt {
  .title-text {
    margin-top: 5px;
    font-weight: 400;
    color: map-get($global-color, b);
  }

  .excerpt-text {
    display: -webkit-box;
    margin-top: 5px;
    padding-right: 10px;
    font-size: 12px;
    color: map-get($global-color, c);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    word-break: break-all;
  }
}