html {
  color: #333;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 200; }

main {
  width: 100%;
  height: 100%; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

i {
  font-style: normal; }

img {
  width: 100%; }

.no-padding {
  padding: 0; }

.no-padding-l {
  padding-left: 0; }

.no-padding-r {
  padding-right: 0; }

.a-btn {
  margin-top: 6em;
  text-align: center; }
  .a-btn a {
    width: 150px;
    padding: 10px 25px;
    background-color: #333;
    color: #fff;
    letter-spacing: 1.5px;
    border-radius: 3px;
    font-size: 16px; }
    .a-btn a:hover {
      text-decoration: none; }

.navbar {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  z-index: 99; }
  .navbar .navbar-brand {
    width: 9em;
    padding-top: 0.5em; }
    .navbar .navbar-brand:hover {
      background: none !important; }
  .navbar button i {
    color: #fff; }
  .navbar a {
    font-size: 16px;
    color: #fff;
    text-align: center; }
    .navbar a:hover {
      color: #666;
      background-color: rgba(255, 255, 255, 0.7) !important; }
    .navbar a i {
      font-size: 12px;
      text-transform: uppercase;
      display: block; }

.top-nav-collapse {
  background: rgba(51, 102, 153, 0.8) !important; }

.swiper-con .swiper-container {
  width: 100%;
  height: 60vw;
  min-height: 150px;
  overflow: hidden;
  background-color: #1b6d85; }
  .swiper-con .swiper-container .swiper-wrapper {
    width: 100%;
    height: 100%; }
    .swiper-con .swiper-container .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100%;
      position: relative; }
      .swiper-con .swiper-container .swiper-wrapper .swiper-slide .text-wapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2); }

.con-title {
  text-align: center; }
  .con-title p {
    text-transform: uppercase; }

.about-con {
  padding-top: 6em;
  margin-bottom: 6em; }
  .about-con .con-title {
    margin-bottom: 3em; }
  .about-con .left-img {
    text-align: center; }
    .about-con .left-img .img-con img {
      width: auto;
      min-height: 180px;
      max-height: 200px; }
  .about-con .text-con p {
    color: #555;
    text-indent: 20px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.6;
    font-size: 16px; }

.main-con {
  margin-top: 6em; }
  .main-con .main-wrapper {
    margin-top: 4em; }
    .main-con .main-wrapper .img-con {
      width: 100%;
      height: 305px;
      overflow: hidden; }
      .main-con .main-wrapper .img-con img {
        width: auto;
        height: 100%; }

.news-list {
  line-height: 1; }
  .news-list a {
    width: 100%;
    height: 100%;
    color: #666; }
    .news-list a:hover {
      text-decoration: underline !important;
      color: #39C; }
    .news-list a .news-title {
      height: 100%;
      line-height: 1.2;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; }
    .news-list a .news-date {
      text-align: right; }

.page-navi .wp-pagenavi {
  text-align: center;
  margin-top: 60px; }

.service-con {
  padding-top: 4em;
  padding-bottom: 6em;
  text-align: center;
  background-color: #f5f5f5; }
  .service-con .icon-con {
    margin-top: 3em; }
    .service-con .icon-con .icon-cell {
      width: 120px;
      height: 120px;
      line-height: 115px;
      font-size: 48px;
      border-radius: 50%;
      border: 2px solid #369;
      color: #369; }
      .service-con .icon-con .icon-cell:hover {
        background-color: #369;
        color: #fff; }
    .service-con .icon-con .text-title {
      margin-top: 1.5em;
      color: #666; }
    .service-con .icon-con p {
      padding: 0;
      line-height: 1.6;
      color: #666; }

.advantage-con {
  margin-top: 8em;
  text-align: center; }
  .advantage-con .icon-con {
    margin-top: 1em; }

.info-con {
  margin-top: 8em;
  text-align: center;
  background: url("../img/headerimg-5.jpg") center no-repeat;
  background-size: cover; }
  .info-con .text {
    padding: 50px 0;
    line-height: 1.6;
    color: #fff;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 2px; }

.contact-con {
  margin-top: 12em;
  margin-bottom: 12em; }
  .contact-con .icon-con {
    margin-top: 4em;
    text-align: center; }
    .contact-con .icon-con h4 {
      color: #666;
      margin-bottom: 1em; }
      .contact-con .icon-con h4 i {
        font-size: large;
        padding-right: 5px;
        color: #369; }

.footer-con {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background-color: #369;
  color: #f5f5f5; }

.bg-color {
  background-color: #f5f5f5; }

/*single*/
.article-con {
  min-height: 400px;
  margin-top: 2em;
  margin-bottom: 3em; }
  .article-con .article-title a {
    word-break: break-all; }

.detail-cover {
  background-color: #1b6d85; }

.bread-con {
  background-color: #f5f5f5; }
  .bread-con .breadcrumb {
    margin-bottom: 0; }
    .bread-con .breadcrumb a {
      color: #666; }
      .bread-con .breadcrumb a:hover {
        text-decoration: underline !important;
        color: #369; }

.news-list-con {
  margin-top: 2em;
  margin-bottom: 6em;
  min-height: 400px; }

@media (max-width: 767px) {
  .navbar {
    background-color: rgba(51, 51, 51, 0.7); }

  .contact-con {
    margin-top: 8em;
    margin-bottom: 8em; } }
@media (min-width: 768px) and (max-width: 992px) {
  .left-img .img-con {
    margin-top: 2.5em; } }

/*# sourceMappingURL=style.css.map */
