@media (min-width: 415px) {
  h4 {
    font-size: 18px;
  }
  .title-con{
    .border-bottom{
      padding-bottom: 4px;
    }
  }
  .partner-con {
    .item-cell-link {
      .hover-con {
        span {
          font-size: 14px;
        }
      }
    }
  }
}

@media(min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}