.list-header {
  width: 100%;
  position: relative;
  text-align: right;
  .container {
    margin-top: -50px;
    text-align: right;
    font-size: 22px;
    color: #fff;
  }
}

.list-con {
  margin-top: 30px;
  .breadcrumb {
    padding-left: 0;
    background-color: transparent;
  }
  .tab-pane {
    margin-bottom: 50px;
    .text-con {
      color: map-get($global-color, d);
    }
  }
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li > a {
  border: none;
  border-left: 5px solid transparent;
  color: map-get($global-color, b);
}

.nav-tabs > li > a:hover {
  border-radius: 0;
  border-left: 5px solid map-get($global-color, a);
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border: none;
  border-radius: 0;
  color: map-get($global-color, a);
  background-color: map-get($global-color, g);
  border-left: 5px solid map-get($global-color, a);
}


//.page-navi {
//  .wp-pagenavi {
//    text-align: center;
//    margin-top: 60px;
//  }
//}