/*
index
*/
.title-con {
  margin: 20px 0 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid map-get($global-color, g);
  line-height: 1;
  .border-bottom {
    padding-bottom: 5px;
    border-bottom: 1px solid map-get($global-color, f);
  }
  .a-btn {
    text-align: right;
    a {
      border-radius: 3px;
      font-size: 12px;
      &:hover {
        color: map-get($global-color, a);
      }
    }
  }
}

/*swiper*/
.fluid-con {
  max-width: 1200px;
}

.swiper-container {
  width: 100%;
  height: 30vw;
  overflow: hidden;
  .swiper-wrapper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      width: 100%;
      height: 100%;
      position: relative;
      .text-wapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

/*news*/
.news-con {
  .item-cell {
    @include item-cell(85px);
    @include img-con(135px, 85px);
    @include img-text-con(135px);
  }
}

/*notices*/
.notices-con {
  .item-cell {
   @extend %line-clamp;
    line-height: 2;
    padding-left: 0;
    padding-right: 0;
    color: map-get($global-color, d);
    -webkit-line-clamp:1;
    line-clamp:1;

    &:hover {
      background-color: map-get($global-color, e);
    }
  }
}

/*production*/

/*case*/
.case-con {
  .item-cell {
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
    .text-con {
      margin-top: 10px;
      &:hover {
        text-decoration: underline;
      }
      @extend %title-excerpt;
    }
  }
}

/*partner*/
.partner-con {
  margin-bottom: 40px;
  .item-con {
    float: left;
    .item-cell {
      margin-right: -1px;
      margin-bottom: -1px;
      padding: 10px 15px;
      border: 1px dashed map-get($global-color, g);
    }
  }
  .item-cell-link {
    display: block;
    position: relative;
    .hover-con {
      display: none;
      position: absolute;
      left: -16px;
      top: -11px;
      right: -16px;
      bottom: -11px;
      padding: 5px;
      background-color: rgba(0, 0, 0, .7);
      span {
        width: 100%;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        text-align: center;
        color: #fff;
        font-size: 12px;
      }
    }

    &:hover {
      .hover-con {
        display: block;
      }

    }
  }
}

//.page-navi {
//  .wp-pagenavi {
//    text-align: center;
//    margin-top: 60px;
//  }
//}

.code-con {
  background-color: map-get($global-color, b);
  padding: 40px 0 0;
  p {
    width: 100%;
    text-align: center;
    color: map_get($global-color, c);
    padding-bottom: 10px;
  }
  img {
    display: block;
    width: 120px;
    margin: 0 auto;
  }
}